*{
    margin: 0;
}
div.navigation{
    display: flex;
    justify-content: center;
    background-color: rgba(194, 189, 189, 0.171);
    align-items: center;
}
.item{
    margin: 20px;
}
a{
    color: rgb(2, 2, 2);
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: sans-serif;
    
}
.flexbox-content{
    align-items: center;
}
b::first-letter{
    border-bottom: 2px solid rgb(23, 63, 173);
}
.content--flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
    justify-content: space-between;
}
div.flex > h5{
    padding: 20px;
    border-radius: 3%;
}
#mailto{
    background-color: rgba(233, 75, 13, 0.568);
}
#facebook{
    background-color: rgba(12, 116, 212, 0.568);
}
#linkdln{
    background-color: rgba(13, 62, 221, 0.568);
}
a.nav:hover{
    color: black;
    text-decoration: none;
}
h1{
    border-bottom: 2px solid rgb(23, 63, 173); 
}