*{
    margin: 0;
}
div.navigation{
    display: flex;
    justify-content: center;
    background-color: rgba(194, 189, 189, 0.171);
    align-items: center;
}
.item{
    margin: 20px;
}
a{
    color: rgb(2, 2, 2);
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: sans-serif;
    
}
b::first-letter{
    border-bottom: 2px solid rgb(23, 63, 173);
}
a.nav:hover{
    color: black;
    text-decoration: none;
}
.hoverMe{
    box-shadow: 2px 7px;
    border: 2px solid black;
}

img#font{
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 4px 1px 1px  rgb(20, 20, 20);
}
.container--flex--content{
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
div.item-link{
    margin: 20px;
}
a.link{
    font-weight: bold;
    padding: 10px;
}
a.link:hover{
    color: black;
    text-decoration: none;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}